.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.bold{
    font-weight: bold;
}
.bordered{
    border:3px solid gray;
}